.sec1{
    width: 100%;
    height: 80vh;
    background-image: url("./images/1.png");
}

header{
    width: 100%;
    height: 8vh;
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
  

}

.ihd1{
    width: 75%;
    height: 8vh;
    /* background-color: rgb(181, 154, 255); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.hd1{
    width: 15%;
    height: 4vh;
    /* background-color: rgb(52, 177, 235); */
    display: flex;
    justify-content: center;
    align-items: left;
}

.lg{
    width: 100%;
    height: 2.9vh;
}


.hd2{
    width: 40%;
    height: 4vh;
    /* background-color: rgb(235, 95, 52); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: bold;
    margin: 60px;
    font-size: 80%;

}

.g{
    width: 8%;
    height: 2.5vh;
}
.hd3{
    width: 11%;
    height: 4.5vh;
    /* background-color: rgb(52, 235, 67); */
    display: flex;  
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: white;
    border-radius: 5px;
    border: solid 1.5px white;
    font-size: 70%;
}

.hd4{
    font-weight: bolder;
    color: white;
    margin: 0px;
}

.ihd2{
    width: 100%;
    height: 62vh;
    /* background-color: rgb(45, 43, 49); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;


}

.isec2h{
    width: 30%;
    height: 50vh;
    /* background-color: rgb(16, 131, 60); */
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    margin: 110px;
  
}

.herohead{
    font-size: 258%;
    font-weight: bolder;
}


.btn1{
    width: 50%;
    height: 6vh;
    background-color: #FF8D1A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: white;
    border-radius: 5px;
    font-size: 83%;
    border: none;
    margin: 5px 0px;
}



.svg1{
    width: 100%;
    height: 10vh;
    position: relative;
}

.svg1a{
    width: 100%;
    height: 20vh;
}

.herop{
    width: 45%;
    height: 65vh;
    position: relative;
    top: 78px;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.sec2{
    width: 100%;
    height: 80vh;
    background-color: rgb(255, 253, 253);
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.isec2{
    width: 75%;
    /* height: 50vh; */
    /* background-color: rgb(3, 146, 22); */
    display: flex;
    justify-content: space-betweens;
    align-items: center;
    flex-direction: row;
    
}

.isec2a{
    width: 75%;
    /* height: 50vh; */
    /* background-color: rgb(253, 237, 8); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 80%;
    line-height: 25px;
}

.imgcon1{
    width: 33%;
    height: 20vh;
    /* background-color: rgb(242, 241, 235); */
    display: flex;
    justify-content: left;
    align-items: center;
    /* flex-direction: row; */

}

.con1{
    width: 20%;
    height: 10vh;
}

.box1{
    width: 50%;
    height: 50vh;
    /* background-color: rgb(255, 66, 66); */
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    font-size: 85%;
    line-height: 20px;
}

.btn2{
    width: 33%;
    height: 6vh;
    background-color: #FF8D1A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: white;
    border-radius: 5px;
    font-size: 90%;
    border: none;
    margin: 5px 0px;
}

.box2{
    width: 50%;
    height: 50vh;
    /* background-color: rgb(6, 155, 68); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: contain;
}

.img1{
    width: 100%;
    height: 38vh;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.sec3{
    width: 100%;
    height: 150vh;
    background-color:  #d8f6fc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}
.isec3{
    width: 75%;
    height: 120vh;
    background-color: #d8f6fc;
    /* background-color: #f5b0b0; */
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction:row;
}

.div1{
    /* background-color: red; */
    width: 45%;
    height: 80vh;
    font-size: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.div2{
    /* background-color: rgb(11, 138, 0); */
    width: 45%;
    height: 80vh;
    font-size: 90%;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
    
}

.img11{
    width: 100%;
    height: 50vh;
}

.img2{
    width: 100%;
    height: 50vh;
    
}

.btn3{
    width: 30%;
    height: 6vh;
    background-color: #FF8D1A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: white;
    border-radius: 5px;
    font-size: 90%;
    border: none;
    margin: 5px 0px;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.sec4{
    width: 100%;
    height: 90vh;
    background-color:    #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}

.isec4{
    width: 75%;
    height: 20vh;
    /* background-color: #ffb4b4; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.btn4{
    width: 13%;
    height: 6vh;
    background-color: #FF8D1A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: white;
    border-radius: 5px;
    font-size: 90%;
    border: none;
    margin: 5px 0px;
}
.isec4ab{
    width: 75%;
    height: 100vh;
    /* background-color: #0bdf28; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:row;  
}

.mbox1{
    width: 55%;
    height: 65vh;
    /* background-color: rgb(255, 156, 156); */
}

.gmp{
    background-size: contain;
    width: 100%;
    height: 55vh;
}

.mbox2{
    width: 8%;
    height: 65vh;
    /* background-color: rgb(230, 228, 228); */
}

.mbox2a{
    width: 35%;
    height: 65vh;
    /* background-color: rgb(255, 226, 94); */
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;  
}

.imbox1{
    width: 85%;
    height: 18.5vh;
    /* border: solid 2px black; */
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column; 
    font-size: 80%;
    margin: 0px;
}

.imbox2{
    width: 100%;
    height: 19vh;
    /* border: solid 2px black; */
    font-size: 80%;
    display: flex;
    justify-content: right;
    align-items: left;

}

.txt{
    font-size: 130%;
    font-weight: bolder;
}




.gic{
    width: 45%;
    height: 5vh;
    /* background-color: yellow; */
}

.svg1aa{
    width: 100%;
    height: 20vh;
    position: absolute;
}
/* ++++++++++++++++ */

.sec4x{
    width: 100%;
    /* height: 90vh; */
    /* background-color:    #f04040; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}

.isec4x{
    width: 75%;
    height: 10vh;
    /* background-color: #ffb4b4; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.isec4abx{
    width: 75%;
    height: 50vh;
    /* background-color: #0bdf28; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:row;  
}

.ambox1{
    width: 30%;
    height: 50vh;
    background-color:  white;
    font-size: 80%;
}

.ambox{
    width: 30%;
    height: 50vh;
    background-color:  white;
    font-size: 80%;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.sec5{
    width: 100%;
    height: 185vh;
    background-color:    #d8f6fc;
    /* background-color:    #fd1100; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}

.isec51{
    width: 75%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    
}

.isec52{
    width: 75%;
    /* height: 50vh; */
    /* background-color: #EBFCFF; */
    /* background-color: #c5ac19; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.isec52a{
    width: 60%;
    /* height: 30vh; */
    /* background-color: #EBFCFF; */
    /* background-color: #dddddd; */
    font-size: 80%;
    text-align: justify;
}

.isec53{
    width: 75%;
    height: 50vh;
    /* background-color: #c5ac19; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 

}



.isec53a{
    width: 23%;
    height: 27vh;
    background-color:  #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 70%;
    line-height: 18px;
    box-shadow: 0px 2px 2px 2px rgb(212, 209, 209);
    margin: 15px;
    transition: all 300ms ease-in-out;
    cursor: pointer;


}

.isec53a:hover{
    width: 40%;
    height: 80%;
    background-color: rgb(51, 109, 106);
    font-size: 100%;
    color: white;
    transition: all 200ms ease-in;
    line-height: 23px;

}


.map{
    position: absolute;
    /* top: 78px; */
    top: 620vh;
    width: 80%;
    height: 80vh;
}

.bigone{
    width: 100%;
    height: 140vh;
    background-color:  #d8f6fc;
}


.big{
    width: 100%;
    height: 130vh;
    background-size: cover;
}


.iconlist{
    width: 100%;
    /* height: 20vh; */
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    position: absolute;
    top: 765vh;
    margin: 20px;

}

.ic{
    width: 5%;
    /* height: 5vh; */
}




.isec54{
    width: 75%;
    /* height: 10vh; */
    /* background-color: #00ca4e; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: 80%;
}

.isec56{
    width: 75%;
    height: 30vh;
    /* background-color: #ff2525; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.isec56x{
    width: 90%;
    height: 10vh;
    /* background-color: #fd7272; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.isec56y{
    width: 80%;
    height: 10vh;
    /* background-color: #1900ff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


.gix{
    width: 100%;
    height: 15vh;
    /* background-color: yellow; */
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.isec57{
    width: 75%;
    height: 20vh;
    /* background-color: #ffb4b4; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.isec58t{
    width: 100%;
    height: 75vh;
    /* background-color: #c51f19; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    position: absolute;
    top: 695vh;
}


.isec58{
    width: 75%;
    height: 70vh;
    /* background-color: #c5ac19; */
    display: flex;
    justify-content: space-evenly;
    align-items: left;
}



.isec58a{
    width: 35%;
    height: 35vh;
    background-color:  #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 70%;
    line-height: 18px;
    box-shadow: 0px 2px 2px 2px rgb(212, 209, 209);
    margin: 15px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.isec58ax{
    width: 35%;
    height: 45vh;
    background-color:  #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 70%;
    line-height: 18px;
    box-shadow: 0px 2px 2px 2px rgb(212, 209, 209);
    margin: 15px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    
}

/* .isec58a:hover{
    width: 40%;
    height: 80%;
    background-color: rgb(51, 109, 106);
    font-size: 100%;
    color: white;
    transition: all 200ms ease-in;
    line-height: 23px;

} */








/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.footer{
    width: 100%;
    height: 50vh;
    background-color:    #293037;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  rgb(180, 180, 180);
    flex-direction: column;
 
}

.if4{
    width: 75%;
    height: 42vh;
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: row;
    font-size: 70%;  
}

.if4a{
    width: 75%;
    height: 8vh;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    font-size: 70%; 
    border-top: solid 1px rgb(68, 68, 68); 
}

.fimg{
    width: 10%;
    height: 5vh;
}

.f1{
    /* width: 19%; */
    height: 90%;
    line-height: 22px;
}

.isec5{
    width: 75%;
    height: 80vh;
    /* background-color: #EBFCFF; */
    background-color: #bd7d7d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.dfooter{
    width: 100%;
    height: 8vh;
    background-color:    #014450;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
 
}
